.Overview {
    text-align: center; 
    padding-top: 2em; 
}

    #printButton {
        background-color: orange; 
    }

    #overviewCards, #overviewPrice {
        padding: 1em; 
        margin: 1em; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
