.Sidebar {
    padding: 1em; 
    padding-left: 2em; 
    border-top: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black; 
}

    #SidebarColumn {
        padding-left: 2em; 
    }

    .sidebarText {
        padding-left: 1em; 
    }

    .confirmButton1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .confirmButton2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #confirmButton {
        background-color: orange; 
        padding: 0.5em; 
        padding-left: 8px;
        padding-right: 8px; 
        border-radius: 8px; 
    }