.Sidebar {
    padding: 1em; 
    padding-left: 2em; 
    border-top: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black; 
}

    #SidebarColumn {
        padding-left: 2em; 
        
    }

    .sidebarText {
        padding-left: 1em; 
    }

    .confirmButton1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .confirmButton2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #confirmButton {
        background-color: orange; 
        padding: 0.5em; 

    }

    #form {
        width: 100%;
        margin-left: 1px;
    }

    .DeleteButton {
        padding-top: 5px;
        padding-bottom:5px;
        border-radius: 50px 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
      }
    
      .DeleteButton:hover {
        background-color: grey;
      }
    
      .fa fa-trash {
        width: 150%;
        height: 150%;
    
      }