.Sidebar {
    padding: 1em; 
    padding-left: 2em; 
    border-top: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black; 
}

    #SidebarColumn {
        padding-left: 2em; 
        
    }

    .confirmButton1 {
        align-items: center; 
    }

    .confirmButton2 {
        align-items: center; 
    }

    #confirmButton {
        align-items: center; 
        background-color: orange; 
        padding: 0.5em; 
    }

    #form {
        width: 100%;
        margin-left: 10px;
    }