.Header {
    padding: 1em; 
    padding-left: 5em; 
    border-bottom: 3px solid black; 
}

    #helloHeader {
        padding-left: 1em; 
    }

    #backEditDinnerButton {
        display: flex;
        align-items: right;
        background-color: orange; 
    }
