.Dishes {
    padding-left: 2em; 
    padding-top: 1em; 
    /* text-align: center;  */
}

    #searchButton {
        margin-bottom: 2em; 
        background-color: orange; 
    }

    .SearchDishBox {
        border: 2px solid black; 
        width: 224px; 
        text-align: center; 
        margin-bottom: 3em;
        margin-right: 0.8em;  

        /* display: flex; */
        /* flex-wrap: wrap;  */
        /* flex-direction: row;  */
        /* flex-flow: row wrap;  */

    }

    #DishImage {
        /* width: 220px;  */
        /* height: 100px;  */
        width: 100%;
        max-width: 100%;
    }

    .SearchTitle {
        text-align: center; 
        color: black; 
    }

    .DishRow {
        display: flex;
        flex-flow: row wrap; 
        align-content: stretch; 

    }

